:root {
  --blue: #1446A0;
  --beige: #EBEBD3;
  --onyx: #3C3C3B;
}

.form-container{
  border: 1px solid red;
}

.form-container form{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 0.5em;
}

button{
  background-color: var(--blue);
  color: var(--beige);
}
