.auth-container {
  max-width: 500px;
  margin: 120px auto;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.1);
}


.auth-container h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #3C8DAD;
}

.auth-container h1 a{
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: #3C8DAD;
}


.auth-container p{
    text-align: center;
    margin: 15px;
}

.form-container{
  display: flex;
  flex-direction: column;
  border: none !important;
}

.form-container label {
  margin-bottom: 6px;
  font-weight: 500;
}

.form-container input {
  padding: 10px 14px;
  margin-bottom: 20px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  font-size: 14px;
  transition: border 0.2s ease;
}

.form-container input:focus {
  outline: none;
  border-color: #3C8DAD;
}

.form-container button {
  background-color: #3C8DAD;
  color: white;
  width: 150px;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0px 5px 0px #24586d;
}

.form-container button:hover {
  background-color: #316f88;
  box-shadow: inset 0px 2px 8px #24586d;
  transform: translateY(5px);
}

.auth-footer {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.auth-footer a {
  color: #3C8DAD;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}