:root {
  --blue: #1446A0;
  --beige: #EBEBD3;
  --onyx: #3C3C3B;
}

.header {
  margin: 0;
  color: var(--beige);
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  /* Optional: sticky header */
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 10;  */
}

.register-container{
 gap: 20px;
}

/* .buttons button{
  padding: 8px 16px;
} */

.logo{
  text-align: center;
  background-color: white;
  border-radius: 10%;
  color: #1445a2;
  padding: 3px;
}

.logo img{
  height: 40px;
  width: 40px;
  }
