.popup-container{
  border: 1px solid black;
  background-color: white;
  width: 50em;
  height: 40em;
  padding: 2em;
  border-radius: 1em;
}

img {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

/* .details-button {

} */