:root {
  --blue: #1446A0;
  --beige: #EBEBD3;
  --onyx: #3C3C3B;
}

.main-container {
  display: flex;
  font-size: 1.25em;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.lawyer-container {
  display: flex;
  border: 2px solid black;
  padding: 10px;
  width: 60em;
  gap: 5px;
  cursor: pointer;
  border-radius: 1em;
  /* box-shadow: 5px 5px black; */
}

/* .lawyer-container:hover { */
/*   box-shadow: none; */
/*   background-color: rgba(0,0,0,0.05); */
/*   transition: box-shadow 0.3s; */
/* } */

.lawyer-container img {
  width: 10em;
  height: 10em;
  object-fit: cover; /* Kata GPT buat bantu maintain aspect ration & crop */
  border-radius: 1em;
  border: 5px solid var(--blue);
}
.lawyer-container button {
  width: 10em;
}

.lawyer-details {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
