* {
  margin: 0;
  padding: 0;
} 



.hidden{
  display: none;
}

.landing-page-body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
   background-image: url(../../public/images/background6.png);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.onboarding-container {
  text-align: center;
  width: 100%;
  max-width: 320px;
  padding: 30px 100px;
  background-color: #f7f7f7f6;
  border-radius: 30px/*   30px 0 0*/;
  /* border-bottom: #000000; */
  box-shadow: inset 0 8px 16px rgba(0,0,0,0.1);
}

.image-container {
  margin-bottom: 20px;
}

.illustration {
  width: 300px;
  height: auto;

}

.pagination-dots {
  margin: 10px 0;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 4px;
  background-color: #3B5D86;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #ffffff;
}

h1 h2 h3{
  font-size: 18px;
  font-weight: 600;
  margin: 16px 0 8px;
}

.quotes{
  font-size: 15px;
  color: #000000;
  margin-bottom: 20px;
  padding: 10px;
}

.splash-button {
  background-color: #90B7E8;
  text-shadow: 0 2px 0 #3B5D86;
  box-shadow: 0 5px 3px #3B5D86;
  border-radius: 7px;
  color: #FFFFFF;
  font-size: 14px;
  width: 60%;
  height: 33px;
  text-decoration: none;
  padding: 3px;
  margin-bottom: 12px;
  border: none;
  transform: translateY(0px) translateZ(0px);
}

.splash-button:hover {
  background-color:#3b5d86;
  box-shadow: none;
}
/*  
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
